<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iandorosh.secretsanta">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="Secret Santa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:configChanges="orientation"
            android:label="Add a Santa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewGroup"
            android:configChanges="orientation"
            android:label="Create Group"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditSanta"
            android:configChanges="orientation"
            android:label="Edit Santa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Send"
            android:configChanges="orientation"
            android:label="@string/title_activity_send"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SantaView"
            android:configChanges="orientation"
            android:label="Secret Santas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewSelectedSanta"
            android:configChanges="orientation"
            android:label="View Secret Santa"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPrefs"
            android:configChanges="orientation"
            android:label="About Me"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Welcome"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>
