<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MGD1602.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDDA58EF1C6007AB0072E33A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDA59071C6007AB0072E33A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDA59121C6007AB0072E33A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
